.container,
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  justify-items: center;
  width: 100%;
}

.pages {
  flex-wrap: wrap;
}

.button {
  cursor: pointer;
}

.button[data-current='true'] {
  opacity: 0.5;
}
