.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--dms-gap);
  padding: 5px;
  height: 100%;
  align-items: stretch;
}

.grid {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: var(--dms-gap);
  height: 100%;
}
